body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #142e88; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #ffffff;
    left: 43%;
    font-size: 50px;
    margin-top: -10.25cm;
    position: absolute;
    }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #bc00fb; 
}

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
section {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.nos {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    text-align: end;
    
}
p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}
.miembros-del-equipo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.miembros-del-equipo h3 {
    font-size: 22px;
    color: #bc00fb;
    margin: 0;
}
.miembros-del-equipo p {
    margin: 5px 0;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}
.idiomas {
    top: 25px;
    left: 25px;
    position: fixed;
    font-size: 20px;
    color: #fff;  
  }
img {
    position: fixed;
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 25px;
    height: 25px;
    width: 100%;
    background-color: rgb(34, 21, 185);
    color: rgb(255, 255, 255);
    text-align: center;
}
.barra {
   
    right: 25px;
    position: fixed;
}


